<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.entropy_factory.activismap"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".app.ActivisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="activismap.db"/>
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBui4tbeKGx20M55c6bEu9CrlXZPrxeCfs"/>

        <activity android:name=".ui.main.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.tool.MapsActivity"/>
        <activity
            android:name=".ui.tool.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:launchMode="singleInstance"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".ui.tool.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_register"
            android:launchMode="singleInstance"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".ui.content.EventActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".ui.content.EventFormActivity"/>
        <activity android:name=".ui.tool.CompanyListActivity">
        </activity>
        <activity android:name=".ui.tool.CategorySelectorActivity">
        </activity>
    </application>

</manifest>